.landingblock
{
    margin-top: 100px;
}


.ltitle
{
    font-weight: 700;
    font-size: 30px;
    width: 90%;
    color: black;
}

.lphar
{
    font-size: 20px;
    font-weight: 400;
    width: 90%;
    color: rgb(131, 126, 126);
}