*{
    font-family: 'Poppins';
}

html {
    scroll-behavior: smooth;
  }

a.navlink:hover
{
    color: rgb(122, 197, 138);
    background-color: rgba(0, 128, 0, 0.151);
    border-radius: 10px;
    transition: all 270ms;
}

.btn:hover
{
    color: rgb(27, 25, 25);
    transition: all 270ms;
    background-color: rgba(59, 100, 53, 0.459);
}

.btn
{
    transition: all 270ms;

    color: white;
}

.btn-1
{
    background-color: rgb(122, 197, 138);
}

.btn-2
{
    background-color: rgb(122, 197, 138);
}

.btn-3
{
    background-color: rgb(122, 197, 138);
}

.btn-3:hover
{
    background-color: orange;
}

.btn-4{
    background-color: #62a84d;
}


.btn-4:hover{
    background-color: rgba(0, 128, 0, 0.534);
    color: white;

}

.nv{
    transition: all 270ms;

    background-color: rgba(245, 245, 245, 0.938);
}

#brand{
    transition: all 1s;
}

#navbar-item
{
    transition: all 1s;  
}

.brand-activate{
    margin-left: -170px;
}

.item-activate{
    margin-right: -170px; 
}

@media only screen and (max-width: 1670px) {

    .brand-activate{
        margin-left: 50px;
    }
    .item-activate{
        margin-right: 0px; 
    }

  }

